@import "colors";

header#page-header {
	color: $primary-color; 
	background: $secondary-color;
	padding: 5px;

	h1 {
		text-align: center;
		text-transform: uppercase;
	}
}

footer#page-footer {
	color: $secondary-color;
}

aside#page-sidebar {
	background: $secondary-color;
	width: 250px;
	float: right;
	border-width: 5px;
	border-color: $primary-color;
	border-style: double;
	margin: 10px;
}